body {
  font-family: fantasy;
  color: blue;
  background-color: #F3F5F5;
}
h1 {
  font-family: cursive;
  margin: 15px;
}
p {
  color: purple;
  font-size: 22px;
}
.calculator_box {
  color: purple;
  font-size: 22px;
  border: 2px solid black ;
  padding-left: 40px;
  margin: 30px;
}
